.App {
  text-align: center;
}

.Game {
  margin: 20px;
  display: flex;
  justify-content: center;
}

button {
    background-color: #5689db;
    border: 1px solid #5689db;
    border-radius: 3px;
    display: inline-block;
    color: #FFF;
    font-size: 12pt;
    padding: 7px 28px;
    text-decoration: none;
    margin: 5px;
    transition: all 0.5s;
    max-width: 160px;
    min-width: 160px;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}

.Board {
  display: flex;
}

.Hole {
  padding: 5px;
  margin: 1px;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid lightblue;
}

.Hole div {
  position: relative;
  min-width: 30px;
  min-height: 30px;
  border-radius: 4px;
  top: -400px;
  transition: transform 0.5s;
}

.Red {
  background-color: #FF456C;
  transform: translateY(400px);
}

.Blue {
  background-color: #2CC5FF;
  transform: translateY(400px);
}

.winnerMessage {
  margin: 20px;
  font-size: 20pt;
  opacity: 1;
}
